/* Global Styles */
body {
    background-color: black;
    color: white;
    font-size: 16px;
    line-height: 1.6;
    font-family: "Akatab", serif;
}



/* Hero Section */
.heroaboutus {
    width: 100%;
    height: 70vh;
    background: url('../assets/banner.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 80px;
    color: white
}
/* .heroaboutus::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)); 
    z-index: 1;
    color: white !important;
} */

.about-container{
    display: flex !important;
}
.story-container {
    padding: 80px 0;
}
.story-text{
    text-align: justify;
}

.story-container h2 {
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    color: #f8f9fa;
}

.author {
    font-size: 1.2rem;
    margin-top: 10px;
    padding-left: 15px;
    border-left: 3px solid #f8f9fa;
}

.story-container p {
    font-size: 1rem;
    line-height: 1.7;
}

/* Image Styling */
.story-image {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 30px;  /* Adds space between the text and the image */
}


/* Responsive Styles */
@media (max-width: 992px) {
    .heroaboutus {
        font-size: 1.5rem;
        height: 80vh;
    }
}

@media (max-width: 768px) {
    .heroaboutus {
        font-size: 1.3rem;
        height: 70vh;
        padding: 20px;
    }
    .story-container {
        text-align: center;
    }
}

@media (max-width: 526px) {
    .heroaboutus {
        font-size: 1.1rem;
    }
    
    .heroaboutus::before {
       
    }
    
}
